<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bwie.aizhonghui.mymvp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>

    <application
        android:name=".MyApp"
        android:allowBackup="true"
        android:icon="@drawable/jd_buy_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity" />
        <activity android:name=".XqActivity" />
        <activity android:name=".JdScActivity" />
        <activity android:name=".CustomScanActivity" />
        <activity android:name=".SzActivity" />
        <activity android:name=".DhActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SearchActivity" />
        <activity android:name=".SearchXqActivity" />
        <activity android:name=".ShopXqActivity" />
        <activity android:name=".BossActivity" />
        <activity android:name=".DDActivity" />
        <activity
            android:name="com.bawei.pay.PayDemoActivity"
            android:icon="@drawable/msp_icon"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.alipay.sdk.app.H5PayActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:exported="false"
            android:screenOrientation="behind"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity android:name=".MyDdActivity" />
        <activity android:name=".Zf_SuccessActivity"></activity>
    </application>

</manifest>